:root {
  --orange: rgb(227, 75, 10);
}
main {
  margin: 0 5% 0 5%;
  font-family: Nunito, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.top {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top h1 {
  font-size: 3rem;
  margin: 2% 0 2% 0;
}
.top h5 {
  color: var(--orange);
  font-size: 1rem;
  margin: 6% 0 2% 0;
  text-align: center;
}
.top button {
  font-size: 1rem;
  padding: 2%;
  margin-top: 2%;
  width: 20%;
  background-color: var(--orange);
  color: white;
  align-self: center;
  border: none;
  border-radius: 0 50px 50px 50px;
}
@media (min-width: 1000px) {
  .top {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .top h1 {
    font-size: 4rem;
    margin: 2% 0 2% 0;
  }
  .top h5 {
    color: var(--orange);
    font-size: 1.5rem;
    margin: 6% 0 2% 0;
    text-align: left;
  }
  .top button {
    font-size: 1.2rem;
    padding: 2%;
    margin-bottom: 2%;
    width: 15%;
    background-color: var(--orange);
    color: white;
    align-self: flex-end;
    border: 2px solid var(--orange);
    border-radius: 0 50px 50px 50px;
  }
}

.bot {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bot img {
  margin: 0;
  padding: 0;
  width: 80%;
  margin-top: 5%;
  border-radius: 50px;
}
@media (min-width: 1000px) {
  .bot {
    height: 75vh;
    display: flex;
    justify-content: space-between;
  }
  .bot img {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 5%;
    border-radius: 50px;
    object-fit: cover;
  }
}

@media (min-width: 1000px) {
}
.bot div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  .bot div {
    margin: 0;
    width: 30%;
    height: 90%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
