:root {
  --orange: rgb(227, 75, 10);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.top {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 1000px) {
  .top {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
  }
}
.top h5 {
  color: var(--orange);
}

.top button {
  padding: 2%;
  background-color: var(--orange);
  color: white;
  align-self: center;
  border: none;
  border-radius: 0 50px 50px 50px;
}

.bot {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1000px) {
  .bot {
    height: 75vh;
    display: flex;
  }
}

.bot img {
  margin: 0;
  padding: 0;
  width: 80%;
  margin-top: 5%;
  border-radius: 50px;
}
@media (min-width: 1000px) {
  .bot img {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 5%;
    border-radius: 50px;
    object-fit: cover;
  }
}
.bot div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  .bot div {
    margin: 0;
    width: 25%;
    height: 90%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .bot div:nth-child(2) {
    margin-left: 5%;
    margin-right: 5%;
  }
}
