body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.top {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
}
.top h5 {
  color: orange;
}

.bot {
  width: 100%;
  display: flex;
}
